.PostsList {
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: 1200px) {
    .PostsList {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.PostsList .card {
    width: 100% !important;
    margin: 14px 0 !important;
}

@media only screen and (min-width: 1200px) {
    .PostsList .card {
        max-width: 32% !important;
        margin: 14px 0 !important;
    }
}

.PostsList .Categories {
    position: absolute;
    top: 10px;
    right: 10px;
}