.Toolbar {
    border-radius: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toolbar .SearchPosts {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .Toolbar .SearchPosts {
        display: block;
    }
}

.Toolbar .item__menu {
    display: none !important;
}

@media only screen and (min-width: 1200px) {
    .Toolbar .item__menu {
        display: block !important;
    }
}

.Toolbar .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Toolbar .right .user-data {
    margin-left: 1rem;
    margin-right: 1rem;
}
